<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="top.zhengru.mapper.DishMapper">

    <insert id="addDish" useGeneratedKeys="true" keyProperty="id">
        insert into dish
            (name, category_id, price, image, description, create_time, update_time, create_user, update_user)
        values
            (#{name},#{categoryId},#{price},#{image},#{description},#{createTime},#{updateTime},#{createUser},#{updateUser})
    </insert>
    <update id="update">
        update dish
        <set>
            <if test="name != null">name = #{name},</if>
            <if test="categoryId != null">category_id = #{categoryId},</if>
            <if test="price != null">price = #{price},</if>
            <if test="image != null">image = #{image},</if>
            <if test="description != null">description = #{description},</if>
            <if test="status != null">status = #{status},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="updateUser != null">update_user = #{updateUser},</if>
        </set>
        where id = #{id};
    </update>
    <select id="pageQuery" resultType="top.zhengru.vo.DishVO">
        select d.*, c.name as categoryName from dish d, category c
        where d.category_id = c.id
        <if test="categoryId != null">
            and d.category_id = #{categoryId}
        </if>
        <if test="status != null">
            and d.status = #{status}
        </if>
        <if test="name != null">
            and d.name like concat('%', #{name}, '%')
        </if>
        order by d.create_time desc
    </select>
</mapper>
